
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro</title>
</head>
<body>
    <div> 
        <form action="/contareceber/store" method="post">
            <label for="campo-nome">Nome</label>
            <input type="text" name="nome" id="campo-nome" />

            <label for="campo-valor">Valor</label>
            <input type="number" name="valor" id="campo-valor" />

            <label for="campo-tipo">Tipo</label>
            <input type="text" name="tipo" id="campo-tipo" />

            <label for="campo-descricao">Descrição</label>
            <textarea name="descricao"></textarea>

            <label for="campo-estatus">Status</label>
            <select name="estatus">
                <option value="pendente">Pendente</option>
                <option value="recebido">Recebido</option>
            </select>

            <button type="submit">Salvar</button>

        </form>
    </div>
</body>
</html>
